@model Library.Models.AccountRoomModel

<div id="reserved-books-view">
    <h3></h3>

    <span data-bind="if: userBookCollection().length == 0">You didn't borrow any books yet</span>

    <div class="container-fluid">
        <table class="table table-striped table-bordered .table-condensed" data-bind="ifnot: userBookCollection().length == 0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Term</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: userBookCollection">
                <tr data-bind="attr: { class: Status == 1 ? 'success' : (new Date()).setTime(Date.parse(EndDate)) < (new Date()).getDate() ? 'danger' : 'warning' }">
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: Author"></td>
                    <td data-bind="text: StartDate + ' - ' + EndDate"></td>
                    <td data-bind="text: Status == 1 ? 'Ready for pickup' : 'Issued'"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

